<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <div id="page">
        <div id="header"><img id="logo" src="~/android-chrome-192x192.png" alt="Crawlcrawler" title="Crawlcrawler" /></div>
        <div id="left-nav"><h3>Collections</h3><a href="/create/">Create new collection</a></div>
        <div id="main">@RenderBody()</div>
    </div>
</body>
</html>