@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Hello from CrawlCrawler";
}
@{
}
<form>
    <span>Hello. Here's your search box:</span> <input type="text" name="q" class="query-field-simple"/> <input type="submit" />
</form>