@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Hello from CrawlCrawler";
}
@{
}
<div class="section">
    <form>
        <span>Here's your search box:</span> <input type="text" name="q" class="query-field-simple" /> <input type="submit" />
    </form>
</div>
<div class="section">
    <span>Hello.</span>
</div>