body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color:silver;
}

#header {
    margin: 4px 4px 4px 4px;
    border-radius: 20px;
    background-color: white;
}

#top-nav {
    margin: 4px 4px 0px 4px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 12pt;
}

#left-nav {
    margin: 4px 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: #d6d6d6;
    color: black;
    font-size: 12pt;
    float: left;
}

#main {
    margin: 4px 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 12pt;
    float: left;
}

#logo {
    height: 50px;
}