:root{
    --corner:25px;
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color:silver;
}

#page {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}

#header {
    margin: 4px 4px 4px 4px;
    padding: 0px 0px 0px 0px;
    border-radius: var(--corner);
    background-color: white;
    width: 220px;
}

#top-nav {
    margin: 4px 4px 0px 4px;
    padding: 5px 5px 5px 5px;
    border-radius: var(--corner);
    background-color: black;
    color: white;
    font-size: 12pt;
}

#left-nav {
    margin: 4px 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    border-radius: var(--corner);
    background-color: white;
    color: black;
    font-size: 12pt;
    width: 200px;
}

#main {

}

#logo {
    height: 50px;
    margin: 2px 0px 2px 3px;
    vertical-align: middle;
}

.query-field-simple{
    width: 300px;
}

.col{
    float:left;
}

.section {
    margin: 4px 4px 7px 4px;
    padding: 10px 10px 10px 10px;
    border-radius: var(--corner);
    background-color: white;
    display:table;
}